
.aicolumns-wrapper > .aicolumns > div {
  display: flex;
  flex-direction: row; /* Ensure elements are side by side */
  align-items: flex-start; /* Align items to the top */
  gap: 24px;
}

.aicolumns-wrapper > .aicolumns .aicolumns-img-col {
  flex: 1 1 50%;
  max-width: 50%;
}

.aicolumns-wrapper > .aicolumns > div > div:nth-child(2) {
  flex: 1 1 50%;
  max-width: 50%;
  padding-left: 20px; /* Further reduce space between image and text */
  position: relative;
}

.aicolumns-wrapper > .aicolumns > div > div:nth-child(2)::before {
  content: '';
  position: absolute;
  left: -10px; /* Adjust this value to position the line correctly */
  top: 0;
  bottom: 0;
  width: 4px; /* Width of the vertical line */
  background-color: #f00; /* Color of the vertical line */
}

.aicolumns-wrapper .button-container a.button {
  background: none; /* Remove button background */
  color: red; /* Change text color to red */
  text-decoration: none; /* Remove underline */
  font-weight: normal; /* Adjust font weight if necessary */
  padding: 0; /* Remove padding to make it look like regular text */
}

.aicolumns-wrapper img {
  width: 100%;
  height: auto;
}

@media (width >= 900px) {
  .aicolumns-wrapper > .aicolumns > div {
    flex-direction: row; /* Ensure elements are side by side on larger screens */
    gap: 24px;
  }

  .aicolumns-wrapper > .aicolumns > div > div {
    flex: 1;
  }
}
